# Requires mod_rewrite to be installed
# sudo a2enmod rewrite
# sudo a2enmod actions
# sudo systemctl restart apache2
RewriteEngine On
RewriteRule ^index\.html$ ""
RewriteCond %{REQUEST_FILENAME} !-f
# Consider correct port number here
RewriteRule ^(.*)$ http://localhost:22174/$1 [P]
RequestHeader set X-Forwarded-Proto https env=HTTPS
